table {
    border-collapse:  collapse;
}

th, td {
    border: solid gray 3px;
    text-align: center;
}

.table-code {
    width:100px;
}
.table-name {
    width:200px;
}
.table-date {
    width:150px;
}
.table-button {
    width:50px;
}
